docs/templates/Other_Syslog.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>016a100f-48b1-1099-5d02-6d9ffdaa67d6</groupId>
    <name>Other_Syslog</name>
    <snippet>
        <connections>
            <id>4b85b743-d6c5-37f6-0000-000000000000</id>
            <parentGroupId>5d27a662-4bbd-3377-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5d27a662-4bbd-3377-0000-000000000000</groupId>
                <id>14f9a552-8f94-3f69-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>found</selectedRelationships>
            <selectedRelationships>not found</selectedRelationships>
            <source>
                <groupId>5d27a662-4bbd-3377-0000-000000000000</groupId>
                <id>3808c373-71ab-3a45-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>6c92d203-bd85-3ff9-0000-000000000000</id>
            <parentGroupId>5d27a662-4bbd-3377-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5d27a662-4bbd-3377-0000-000000000000</groupId>
                <id>ba10fcdd-fafb-3c9a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>5d27a662-4bbd-3377-0000-000000000000</groupId>
                <id>ad36b18d-b2d1-311b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>7139f797-cacf-3f72-0000-000000000000</id>
            <parentGroupId>5d27a662-4bbd-3377-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>e60b7657-f1d4-3e16-0000-000000000000</groupId>
                <id>0578485b-d4a9-3555-0000-000000000000</id>
                <type>INPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>5d27a662-4bbd-3377-0000-000000000000</groupId>
                <id>14f9a552-8f94-3f69-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>8d2bc0b6-5171-36a6-0000-000000000000</id>
            <parentGroupId>5d27a662-4bbd-3377-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5d27a662-4bbd-3377-0000-000000000000</groupId>
                <id>68a93d84-3120-36d1-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>permitted</selectedRelationships>
            <source>
                <groupId>5d27a662-4bbd-3377-0000-000000000000</groupId>
                <id>ee684ad3-59e2-3797-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c1f53c34-7119-3508-0000-000000000000</id>
            <parentGroupId>5d27a662-4bbd-3377-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5d27a662-4bbd-3377-0000-000000000000</groupId>
                <id>3808c373-71ab-3a45-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>5d27a662-4bbd-3377-0000-000000000000</groupId>
                <id>68a93d84-3120-36d1-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c590536b-841c-362e-0000-000000000000</id>
            <parentGroupId>5d27a662-4bbd-3377-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5d27a662-4bbd-3377-0000-000000000000</groupId>
                <id>ee684ad3-59e2-3797-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>5d27a662-4bbd-3377-0000-000000000000</groupId>
                <id>e33cabbe-2529-3461-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f2d82f56-1363-3894-0000-000000000000</id>
            <parentGroupId>5d27a662-4bbd-3377-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5d27a662-4bbd-3377-0000-000000000000</groupId>
                <id>ad36b18d-b2d1-311b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>e60b7657-f1d4-3e16-0000-000000000000</groupId>
                <id>75893123-e365-3bb8-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f978575f-9dc6-3d58-0000-000000000000</id>
            <parentGroupId>5d27a662-4bbd-3377-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5d27a662-4bbd-3377-0000-000000000000</groupId>
                <id>e33cabbe-2529-3461-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>invalid</selectedRelationships>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>5d27a662-4bbd-3377-0000-000000000000</groupId>
                <id>a527a7f6-5c7a-3088-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <labels>
            <id>03d32eac-57de-3840-0000-000000000000</id>
            <parentGroupId>5d27a662-4bbd-3377-0000-000000000000</parentGroupId>
            <position>
                <x>728.9686279296875</x>
                <y>510.1239929199219</y>
            </position>
            <height>185.7423095703125</height>
            <label>4. Add additional fields as expected by CyberSift</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>417.29052734375</width>
        </labels>
        <labels>
            <id>2832ab55-d8bc-3520-0000-000000000000</id>
            <parentGroupId>5d27a662-4bbd-3377-0000-000000000000</parentGroupId>
            <position>
                <x>4.5263671875</x>
                <y>282.9664001464844</y>
            </position>
            <height>185.7423095703125</height>
            <label>2. Extract information using GROK</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>417.29052734375</width>
        </labels>
        <labels>
            <id>6488484d-a6fa-306d-0000-000000000000</id>
            <parentGroupId>5d27a662-4bbd-3377-0000-000000000000</parentGroupId>
            <position>
                <x>1507.6656494140625</x>
                <y>493.1656188964844</y>
            </position>
            <height>185.7423095703125</height>
            <label>5. (optional) Add geographic data to your network traffic
</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>417.29052734375</width>
        </labels>
        <labels>
            <id>a136d6eb-491d-3012-0000-000000000000</id>
            <parentGroupId>5d27a662-4bbd-3377-0000-000000000000</parentGroupId>
            <position>
                <x>845.9271240234375</x>
                <y>917.6829528808594</y>
            </position>
            <height>227.70069885253906</height>
            <label>7. Rename / remove some JSON fields for better ElasticSearch / CyberSift support
</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>479.45111083984375</width>
        </labels>
        <labels>
            <id>a94f69f3-d009-3ffb-0000-000000000000</id>
            <parentGroupId>5d27a662-4bbd-3377-0000-000000000000</parentGroupId>
            <position>
                <x>2.836669921875</x>
                <y>0.0</y>
            </position>
            <height>185.7423095703125</height>
            <label>1. Enable Syslog Server</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>417.29052734375</width>
        </labels>
        <labels>
            <id>ab17c72b-f00d-3605-0000-000000000000</id>
            <parentGroupId>5d27a662-4bbd-3377-0000-000000000000</parentGroupId>
            <position>
                <x>1518.6795654296875</x>
                <y>926.8714294433594</y>
            </position>
            <height>185.7423095703125</height>
            <label>6. Convert to JSON file
</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>417.29052734375</width>
        </labels>
        <labels>
            <id>dd7e395a-b15d-3af2-0000-000000000000</id>
            <parentGroupId>5d27a662-4bbd-3377-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>525.5284118652344</y>
            </position>
            <height>185.7423095703125</height>
            <label>3. (optional) drop unwanted events</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>417.29052734375</width>
        </labels>
        <labels>
            <id>ed76612e-0ca2-3440-0000-000000000000</id>
            <parentGroupId>5d27a662-4bbd-3377-0000-000000000000</parentGroupId>
            <position>
                <x>208.78125</x>
                <y>933.2233581542969</y>
            </position>
            <height>185.7423095703125</height>
            <label>8. Insert into Elasticsearch for further processing by CyberSift
</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>417.29052734375</width>
        </labels>
        <labels>
            <id>f76ef538-3ceb-323e-0000-000000000000</id>
            <parentGroupId>5d27a662-4bbd-3377-0000-000000000000</parentGroupId>
            <position>
                <x>215.133056640625</x>
                <y>1222.4057312011719</y>
            </position>
            <height>185.7423095703125</height>
            <label>9. (optional but recommended) - log failed operations
</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>417.29052734375</width>
        </labels>
        <processGroups>
            <id>e60b7657-f1d4-3e16-0000-000000000000</id>
            <parentGroupId>5d27a662-4bbd-3377-0000-000000000000</parentGroupId>
            <position>
                <x>894.9315117278848</x>
                <y>950.3833288584929</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>2851dd4b-b55f-3715-0000-000000000000</id>
                    <parentGroupId>e60b7657-f1d4-3e16-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>e60b7657-f1d4-3e16-0000-000000000000</groupId>
                        <id>38d59ac3-77ad-3269-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>e60b7657-f1d4-3e16-0000-000000000000</groupId>
                        <id>4661590c-55b9-37b5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2ddf1479-0537-33fe-0000-000000000000</id>
                    <parentGroupId>e60b7657-f1d4-3e16-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>e60b7657-f1d4-3e16-0000-000000000000</groupId>
                        <id>061279db-7796-330e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>e60b7657-f1d4-3e16-0000-000000000000</groupId>
                        <id>38d59ac3-77ad-3269-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3982ce99-6f45-3748-0000-000000000000</id>
                    <parentGroupId>e60b7657-f1d4-3e16-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>e60b7657-f1d4-3e16-0000-000000000000</groupId>
                        <id>a06c55d9-ee07-3bcd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>e60b7657-f1d4-3e16-0000-000000000000</groupId>
                        <id>061279db-7796-330e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6087c030-0cfd-3c17-0000-000000000000</id>
                    <parentGroupId>e60b7657-f1d4-3e16-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>e60b7657-f1d4-3e16-0000-000000000000</groupId>
                        <id>75893123-e365-3bb8-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>e60b7657-f1d4-3e16-0000-000000000000</groupId>
                        <id>a06c55d9-ee07-3bcd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>cfc5a3c4-d8ff-3a7b-0000-000000000000</id>
                    <parentGroupId>e60b7657-f1d4-3e16-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>e60b7657-f1d4-3e16-0000-000000000000</groupId>
                        <id>4661590c-55b9-37b5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>e60b7657-f1d4-3e16-0000-000000000000</groupId>
                        <id>0578485b-d4a9-3555-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <inputPorts>
                    <id>0578485b-d4a9-3555-0000-000000000000</id>
                    <parentGroupId>e60b7657-f1d4-3e16-0000-000000000000</parentGroupId>
                    <position>
                        <x>256.9999847142601</x>
                        <y>91.9999896869279</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Original JSON content</name>
                    <state>STOPPED</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <outputPorts>
                    <id>75893123-e365-3bb8-0000-000000000000</id>
                    <parentGroupId>e60b7657-f1d4-3e16-0000-000000000000</parentGroupId>
                    <position>
                        <x>1366.99998471426</x>
                        <y>84.9999896869279</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Modified JSON Content</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>061279db-7796-330e-0000-000000000000</id>
                    <parentGroupId>e60b7657-f1d4-3e16-0000-000000000000</parentGroupId>
                    <position>
                        <x>1312.0052070348167</x>
                        <y>511.99998968692785</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Regular Expression</key>
<value>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Regular Expression</key>
<value>(country\.)</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>country_</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>Regex Replace</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ReplaceText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>38d59ac3-77ad-3269-0000-000000000000</id>
                    <parentGroupId>e60b7657-f1d4-3e16-0000-000000000000</parentGroupId>
                    <position>
                        <x>202.98501584219002</x>
                        <y>516.4087879047013</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Regular Expression</key>
<value>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Regular Expression</key>
<value>(geo\.)</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>geo_</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>Regex Replace</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ReplaceText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>4661590c-55b9-37b5-0000-000000000000</id>
                    <parentGroupId>e60b7657-f1d4-3e16-0000-000000000000</parentGroupId>
                    <position>
                        <x>202.99002072500252</x>
                        <y>242.0000507220841</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Regular Expression</key>
<value>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Regular Expression</key>
<value>(DestinationAddress\.)</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>DestinationAddress_</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>Regex Replace</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ReplaceText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>a06c55d9-ee07-3bcd-0000-000000000000</id>
                    <parentGroupId>e60b7657-f1d4-3e16-0000-000000000000</parentGroupId>
                    <position>
                        <x>1312.999969455471</x>
                        <y>247.89549749942785</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Regular Expression</key>
<value>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Regular Expression</key>
<value>(grok\.)</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value></value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>Regex Replace</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ReplaceText</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
            </contents>
            <name>Modify Field Names</name>
            <variables/>
        </processGroups>
        <processors>
            <id>14f9a552-8f94-3f69-0000-000000000000</id>
            <parentGroupId>5d27a662-4bbd-3377-0000-000000000000</parentGroupId>
            <position>
                <x>1548.2738569088615</x>
                <y>961.4446162122028</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Attributes List</key>
                        <value>
                            <name>Attributes List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-json-regex</key>
                        <value>
                            <name>attributes-to-json-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Core Attributes</key>
                        <value>
                            <name>Include Core Attributes</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value</key>
                        <value>
                            <name>Null Value</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Attributes List</key>
                    </entry>
                    <entry>
                        <key>attributes-to-json-regex</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-content</value>
                    </entry>
                    <entry>
                        <key>Include Core Attributes</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Null Value</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>AttributesToJSON</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
        </processors>
        <processors>
            <id>3808c373-71ab-3a45-0000-000000000000</id>
            <parentGroupId>5d27a662-4bbd-3377-0000-000000000000</parentGroupId>
            <position>
                <x>1545.2590633166683</x>
                <y>525.3600926118394</y>
            </position>
            <bundle>
                <artifact>nifi-enrich-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Geo Database File</key>
                        <value>
                            <name>Geo Database File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>IP Address Attribute</key>
                        <value>
                            <name>IP Address Attribute</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Geo Database File</key>
                        <value>/root/geolite/City.mmdb</value>
                    </entry>
                    <entry>
                        <key>IP Address Attribute</key>
                        <value>grok.DestinationAddress</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GeoEnrichIP</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>found</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>not found</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.GeoEnrichIP</type>
        </processors>
        <processors>
            <id>68a93d84-3120-36d1-0000-000000000000</id>
            <parentGroupId>5d27a662-4bbd-3377-0000-000000000000</parentGroupId>
            <position>
                <x>746.287264355746</x>
                <y>538.1903188991954</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>@timestamp</key>
                        <value>
                            <name>@timestamp</name>
                        </value>
                    </entry>
                    <entry>
                        <key>grok.IPProtocol</key>
                        <value>
                            <name>grok.IPProtocol</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SourceDestinationTuple</key>
                        <value>
                            <name>SourceDestinationTuple</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Type</key>
                        <value>
                            <name>Type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>@timestamp</key>
                        <value>${entryDate}</value>
                    </entry>
                    <entry>
                        <key>grok.IPProtocol</key>
                        <value>${grok.IPProtocol:toLower()}</value>
                    </entry>
                    <entry>
                        <key>SourceDestinationTuple</key>
                        <value>${grok.SourceAddress}:${grok.DestinationAddress}:${grok.DestinationPort}</value>
                    </entry>
                    <entry>
                        <key>Type</key>
                        <value>TRAFFIC</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>a527a7f6-5c7a-3088-0000-000000000000</id>
            <parentGroupId>5d27a662-4bbd-3377-0000-000000000000</parentGroupId>
            <position>
                <x>24.447054394808674</x>
                <y>22.20433409694931</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Protocol</key>
                        <value>
                            <name>Protocol</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Port</key>
                        <value>
                            <name>Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Local Network Interface</key>
                        <value>
                            <name>Local Network Interface</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Client Auth</key>
                        <value>
                            <name>Client Auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Receive Buffer Size</key>
                        <value>
                            <name>Receive Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Size of Message Queue</key>
                        <value>
                            <name>Max Size of Message Queue</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Size of Socket Buffer</key>
                        <value>
                            <name>Max Size of Socket Buffer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Number of TCP Connections</key>
                        <value>
                            <name>Max Number of TCP Connections</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Batch Size</key>
                        <value>
                            <name>Max Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Message Delimiter</key>
                        <value>
                            <name>Message Delimiter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Parse Messages</key>
                        <value>
                            <name>Parse Messages</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Protocol</key>
                        <value>UDP</value>
                    </entry>
                    <entry>
                        <key>Port</key>
                        <value>514</value>
                    </entry>
                    <entry>
                        <key>Local Network Interface</key>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Client Auth</key>
                        <value>NONE</value>
                    </entry>
                    <entry>
                        <key>Receive Buffer Size</key>
                        <value>65507 B</value>
                    </entry>
                    <entry>
                        <key>Max Size of Message Queue</key>
                        <value>10000</value>
                    </entry>
                    <entry>
                        <key>Max Size of Socket Buffer</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Max Number of TCP Connections</key>
                        <value>2</value>
                    </entry>
                    <entry>
                        <key>Max Batch Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Message Delimiter</key>
                        <value>\n</value>
                    </entry>
                    <entry>
                        <key>Parse Messages</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ListenSyslog</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>invalid</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ListenSyslog</type>
        </processors>
        <processors>
            <id>ad36b18d-b2d1-311b-0000-000000000000</id>
            <parentGroupId>5d27a662-4bbd-3377-0000-000000000000</parentGroupId>
            <position>
                <x>255.58623451493713</x>
                <y>964.2148013660865</y>
            </position>
            <bundle>
                <artifact>nifi-elasticsearch-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>elasticsearch-http-url</key>
                        <value>
                            <name>elasticsearch-http-url</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <name>Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-connect-timeout</key>
                        <value>
                            <name>elasticsearch-http-connect-timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-response-timeout</key>
                        <value>
                            <name>elasticsearch-http-response-timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-proxy-host</key>
                        <value>
                            <name>elasticsearch-http-proxy-host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-proxy-port</key>
                        <value>
                            <name>elasticsearch-http-proxy-port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-username</key>
                        <value>
                            <name>proxy-username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-password</key>
                        <value>
                            <name>proxy-password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-id-attr</key>
                        <value>
                            <name>put-es-id-attr</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-index</key>
                        <value>
                            <name>put-es-index</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-type</key>
                        <value>
                            <name>put-es-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-batch-size</key>
                        <value>
                            <name>put-es-batch-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-index-op</key>
                        <value>
                            <name>put-es-index-op</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>elasticsearch-http-url</key>
                        <value>http://localhost:9200</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Username</key>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-connect-timeout</key>
                        <value>5 secs</value>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-response-timeout</key>
                        <value>15 secs</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-proxy-host</key>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-proxy-port</key>
                    </entry>
                    <entry>
                        <key>proxy-username</key>
                    </entry>
                    <entry>
                        <key>proxy-password</key>
                    </entry>
                    <entry>
                        <key>put-es-id-attr</key>
                    </entry>
                    <entry>
                        <key>put-es-index</key>
                        <value>${now():format('yyyy.MM.dd'):prepend('filebeat-')}</value>
                    </entry>
                    <entry>
                        <key>put-es-type</key>
                        <value>syslog</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>put-es-batch-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>put-es-index-op</key>
                        <value>index</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutElasticsearchHttp</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>retry</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp</type>
        </processors>
        <processors>
            <id>ba10fcdd-fafb-3c9a-0000-000000000000</id>
            <parentGroupId>5d27a662-4bbd-3377-0000-000000000000</parentGroupId>
            <position>
                <x>254.0975036423131</x>
                <y>1255.0322769299935</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Log Level</key>
                        <value>
                            <name>Log Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>
                            <name>Log Payload</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                        <value>
                            <name>Attributes to Log</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>
                            <name>attributes-to-log-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                        <value>
                            <name>Attributes to Ignore</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                        <value>
                            <name>attributes-to-ignore-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                        <value>
                            <name>Log prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Log Level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>US-ASCII</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>LogAttribute</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <processors>
            <id>e33cabbe-2529-3461-0000-000000000000</id>
            <parentGroupId>5d27a662-4bbd-3377-0000-000000000000</parentGroupId>
            <position>
                <x>24.36084223660555</x>
                <y>309.7310598659923</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Grok Expression</key>
                        <value>
                            <name>Grok Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Grok Pattern file</key>
                        <value>
                            <name>Grok Pattern file</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <name>Maximum Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Named captures only</key>
                        <value>
                            <name>Named captures only</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Keep Empty Captures</key>
                        <value>
                            <name>Keep Empty Captures</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Grok Expression</key>
                        <value>&lt;166&gt;%{MONTH} +%{MONTHDAY}(?: %{YEAR})? %{TIME}: %%{GREEDYDATA:Serial}: access-list %{WORD:access_list_name} %{WORD:action} %{WORD:IPprotocol} %{WORD:InboundInterface}/%{IP:SourceAddress}\(%{NUMBER:SourcePort}\) -&gt; %{WORD:OutboundInterface}/%{IP:DestinationAddress}\(%{NUMBER:DestinationPort}\) hit-cnt %{NUMBER:Bytes} %{GREEDYDATA:metadata}</value>
                    </entry>
                    <entry>
                        <key>Grok Pattern file</key>
                    </entry>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Named captures only</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Keep Empty Captures</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ExtractGrok</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ExtractGrok</type>
        </processors>
        <processors>
            <id>ee684ad3-59e2-3797-0000-000000000000</id>
            <parentGroupId>5d27a662-4bbd-3377-0000-000000000000</parentGroupId>
            <position>
                <x>17.48553560077471</x>
                <y>549.369631525079</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>
                            <name>Routing Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>permitted</key>
                        <value>
                            <name>permitted</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>Route to Property name</value>
                    </entry>
                    <entry>
                        <key>permitted</key>
                        <value>${grok.action:equals('permitted')}</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>RouteOnAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>permitted</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
    </snippet>
    <timestamp>06/25/2019 16:56:00 EEST</timestamp>
</template>
